<a href="https://colab.research.google.com/github/so-dipe/Web-Scraping-Datasets/blob/main/Web_Scraping_Lat_and_Lon_for_Nigerian_States.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dfs = pd.read_html("https://www.distancelatlong.com/country/nigeria")

In [ ]:
df_lat_lon = dfs[2]

In [ ]:
df_lat_lon['States'] = df_lat_lon['States'].str[:-3]

In [ ]:
df_lat_lon.head()

        STATE        LAT        LON
0       Abia    5.532003   7.486002
1    Adamawa   10.270341  13.270032
2  Akwa Ibom    5.007996   7.849999
3    Anambra    6.210434   7.069997
4     Bauchi   11.680410  10.190013

In [ ]:
df_lat_lon.columns = ['STATE', 'LAT', 'LON']

In [ ]:
df_lat_lon.to_csv('Nigerian States lat-lon.csv', index=False)